@model PhotoR.Models.Photo
@{
    ViewBag.Title = "All photos";
}

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<div id="columns">
    @foreach (var photo in ViewBag.Photos)
    {
        <figure>
            <a href="/Photo/Show/@photo.Id">
                <img src="~/Assets/@photo.FileName" alt="Photo unavailable" />
            </a>
            <figcaption><i>@photo.Description</i> - created at @photo.CreatedAt.ToString()</figcaption>
        </figure>
    }
</div>
