
@{
    ViewBag.Title = "Category list";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (var category in ViewBag.Categories)
{
    <div class="card card-4">
        @Html.Label("Name", "Category name:")
        <p>@category.Name</p>
        <div>

            <a class="btn btn-success" href="/Category/Show/@category.Id">Show category</a>
            @if (User.IsInRole("Administrator"))
            {
                <a class="btn btn-success" href="/Category/Edit/@category.Id">Edit category</a>
            }
        </div>
    </div>
}

<br />
<br />
<a class="btn btn-info" href="/Category/New">Add category</a>
<br />
<br />
<br />

