@model PhotoR.Models.Album
@{
    ViewBag.Title = "Your albums";
}

<h2>@ViewBag.Title</h2>
<br />

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (var album in ViewBag.Albums)
{
    <div class="card card-4">
        @Html.Label("Name", "Album name:")
        <p>@album.Name</p>
        <div>
            <a class="btn btn-success" href="/Album/Show/@album.Id">Show album</a>
            <a class="btn btn-success" href="/Album/Edit/@album.Id">Edit album</a>
        </div>
    </div>
}

<br />
<br />
<a class="btn btn-info" href="/Album/New">Add new album</a>
<br />

