@{
    ViewBag.Title = "Home Page";
}

<div id="columns">
    @foreach (var photo in ViewBag.RecentPhotos)
    {
        <figure>
            <a href="/Photo/Show/@photo.Id">
                <img src="~/Assets/@photo.FileName" alt="Photo unavailable" />
            </a>
            <figcaption><i>@photo.Description</i> - created at @photo.CreatedAt.ToString()</figcaption>
        </figure>
    }
</div>
