@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @foreach (var photo in ViewBag.RecentPhotos)
    {
        @Html.Label("Name", "Photo name")
        <p>@photo.FileName - created at @photo.CreatedAt.ToString()</p>
        <div>
            <a href="/Photo/Show/@photo.Id">
                <img src="~/Assets/@photo.FileName" alt="Photo unavailable" width="100" height="100" />
            </a>
        </div>
        <br />
        <br />
        <hr />
    }
</div>