@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @foreach (var photo in ViewBag.RecentPhotos)
    {
        @Html.Label("Name", "Photo name")
        <p>@photo.FileName - created at @photo.CreatedAt.ToString()</p>
        <div>
            <img src="~/Assets/@photo.FileName" alt="Photo unavailable" width="100px" height="100px" />
        </div>
        <br />
        <br />
        <hr />
    }
</div>